@import "tailwindcss";

@theme {
  --color-post: #252728;
  --color-comment: #333334;
  --color-hover: #3b3d3e;
  --color-secondary: #b0b3b8;
  --color-primary-text: #e2e5e9;
  --color-primary-blue: #0866ff;
}

body {
  background-color: #1c1c1d;
}

.navbar-item__active {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #007aff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.post__controls-btn {
  @apply flex justify-center items-center gap-1 p-2 font-semibold w-full rounded-lg hover:bg-primary-text/35 transition-colors duration-200 cursor-pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
