@import "tailwindcss";

body {
  background-color: #1c1c1d;
}

.navbar-item__active {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #007aff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
